* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #1a1a1a;
}


.btn {
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.primary {
  background: #3f7f5f; 
  color: #fff;
}


.navbar {
  display: flex;
  align-items: center;
  padding: 20px 60px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: auto; 
}


.hero {
  background: url(images/assets/hero-bg.png) center/cover no-repeat;
  padding: 120px 20px;
  text-align: center;
  color: #fff;
}

.hero span {
  color: #3f7f5f;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.outline {
  background: transparent;
  border: 1px solid #fff; 
  color: #fff;
}

.btn:hover {
  opacity: 0.8; 
}