* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #1a1a1a;
}


.btn {
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.primary {
  background: #3f7f5f; 
  color: #fff;
}


.navbar {
  display: flex;
  align-items: center;
  padding: 20px 60px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: auto; 
}


.hero {
  background: url(images/assets/hero-bg.png) center/cover no-repeat;
  padding: 120px 20px;
  text-align: center;
  color: #fff;
}

.hero span {
  color: #3f7f5f;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.outline {
  background: transparent;
  border: 1px solid #fff; 
  color: #fff;
}

.btn:hover {
  opacity: 0.8; 
}

.notes {
  padding: 80px 60px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.card {
  width: 25%;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
}

.icon {
  width: 50px;
  height: 50px;
  background: #ff5a5a; 
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}



.second-brain {
  display: flex;
  gap: 60px;
  padding: 80px 60px;
}

.brain-img img {
  width: 100%;
}

.second-brain ul {
  margin-top: 20px;
}

.early {
  background: #f7f5f1;
  text-align: center;
  padding: 80px 20px;
}

.small {
  font-size: 14px;
  margin-top: 5px;
}


footer {
  background: #071f33;
  color: #fff;
  padding: 40px 60px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

hr {
  margin: 20px 0;
  opacity: 0.3;
}



.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.social-icons a:hover img {
  opacity: 0.7;
}