* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #1a1a1a;
}


.btn {
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.primary {
  background: #3f7f5f; 
  color: #fff;
}


.navbar {
  display: flex;
  align-items: center;
  padding: 20px 60px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: auto; 
}